name: ResponsibleAI
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - pip:
      - fairlearn>=0.12.0
      - lime
      - seaborn
